.wrapper-for-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.page-header, .about-me-side, .page-footer, main {
  flex: 1 100%;
  -webkit-flex: 1 100%;
}

@media all and (min-width: 600px) {
  .about-me-side, main {
    flex: 1 auto;
    -webkit-flex: 1 auto;
  }
}

@media all and (min-width: 800px) {
  .main { 
    flex: 2 0px; 
    -webkit-flex: 2 0px;
  }

  .about-me-side { order: 1; }
  .main { order: 2; }
  .page-footer { order: 3; }
}

.page-header {
  background-color: #2B6891;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #2B6891;
  font-family: 'Roboto', sans-serif;
}

h3 {
  color: #2c6b95;
  font-family: 'Roboto', sans-serif
}

.about-me-side {
  background-color: #F0F0F0;
  padding-left: 5%;
}

p {
  color: #3176a5;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

li {
  color: #3176a5;
  font-family: 'Roboto', sans-serif;
  padding: 2px;
}

main {
  background-color: #D8D8D8;
  padding-left: 5%;
}

img {
  height: auto;
  max-height: 300px;
  width: auto;
}

.page-footer {
  background-color: #2B6891;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif
}